.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }
  
  mat-card {
    width: 500px;
    padding: 30px;
  }
  
  mat-card-header {
    justify-content: center;
  }
  
  mat-card-title {
    font-size: 27px !important;
  }
  
  mat-card-content {
    font-size: 16px;
  }
  
  mat-divider {
    margin-top: 16px;
  }
  
  .content-container {
    margin-top: 50px;
    margin-left: 50px;
  }
  
  mat-icon {
    margin-right: 10px;
  }
  
  
  mat-card-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  
  .edit-btn {
    transition-duration: 0.2s;
  }
    
  .delete-btn {
    transition-duration: 0.2s;
  }
  
  .user-fav {
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
  }
  .favorites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .favorite-card {
    margin: 10px;
    width: 195px;
  }
  
  .img-container {
    text-align: center;
    width: 200px;
    height: 300px;
  }
    
  .img-container img {
    width: 185px;
    height: 284px;
    margin: 7px;
  }
  
  .fav-header {
    justify-content: center;
    text-align: center;
    height: 70px;
  }
  .fav-title {
    font-size: 20px !important;
  }
  
  .fav-subtitle {
    font-size: 12px;
  }
  
  .fav-action {
    margin-top: 10px;
    display: flex;
    height: 10px;
  }
  #fav-action-btn {
    color: rgb(202, 21, 8) !important;
  }
  .mat-icon-button {
    position: absolute;
    right: 3px;
    top: 3px;
  }
  
  .remove-btn {
    color: rgb(161, 7, 7) !important;
  }